matrix:
  include:
    - language: java
      script: mvn test
      after_script: mvn clean
      jdk: oraclejdk8
      
    - language: java
      script: mvn test
      after_script: mvn clean
      jdk: openjdk7

    - language: csharp
      solution: srcCsharp/SimpleNLG.sln
      before_install:
        - sudo apt-get install unzip
        - unzip src/test/resources/NIHLexicon/lexAccess2013.data.zip -d srcCsharp/Resources/NIHLexicon/