matrix:
  include:
    - language: java
      script: mvn test
      after_script: mvn clean
      jdk: oraclejdk8
      
    - language: java
      script: mvn test
      after_script: mvn clean
      jdk: openjdk7

    - language: csharp
      solution: srcCsharp/SimpleNLG.sln
      env: 
        - RESOURCE_DIR=srcCsharp/Resources/NIHLexicon/
      before_install:
        - sudo apt-get install unzip
        - unzip $RESOURCE_DIR/lexAccess2011.sqlite.zip -d $RESOURCE_DIR
        - unzip $RESOURCE_DIR/lexAccess2013.sqlite.zip -d $RESOURCE_DIR
        - unzip $RESOURCE_DIR/lexAccess2016.sqlite.zip -d $RESOURCE_DIR
      install:
        - nuget restore srcCsharp/SimpleNLG.sln
        - nuget install NUnit.Runners -Version 3.8.0 -OutputDirectory testrunner
      script:
       - xbuild /p:Configuration=Release srcCsharp/SimpleNLG.sln
       - mono ./testrunner/NUnit.Runners.3.8.0/tools/nunit-console.exe ./srcCsharp/bin/Release/SimpleNLGUnitTests.dll
